body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', Arial, sans-serif!important;
}

#cover-plain {
    background-color: #eee;
    padding: 15px 0;
    font-size: 21px;
    font-weight: 200;
}

.opaque {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 -15px;
    padding: inherit;
}

#logo, #logo-edit {
    width: 200px;
    height: 200px;
    border-radius: 12px;
    padding: 5px;
    background-color: white;
    display: block;
    margin: 0 auto;
}
#ticker {
    background-color: #C9D1D3;
    margin: 0;
    padding: 0;
}
#ticker h3 {
    font-weight: 700;
}
.navbar-brand {
    padding: 13px 15px!important;
}
.navbar-brand img {
    height: 25px!important;
}
#langbar a {
    padding: 9px 5px;
}
.kartica, #profil-head {
    min-height: 160px;
    margin-bottom: 10px;
    overflow: auto;
}
.slika, .kartica img {
    height: 150px;
    width: 150px;
    float: left;
    border-radius: 6px;
    margin: 0 25px 0 0;
}
.kartica h4 {
    color: #991818;
    margin-bottom: 0;
}
.kartica h5 {
    margin-top: 0;
}
.kartica-info {
    float: left;
    margin-left: 10px;
    overflow: hidden;
}
.kartica-info ul {
    min-width: 170px;
    margin-left: 10px;
}
.kontakt {
    overflow: hidden;
}
.kontakt h4 {
    color: #991818;
}
.kontakt-info {
    margin-left: 10px;
}
.kontakt-info ul {
    margin-left: 10px;
}
#btn-menu {
    margin: 25px 0;
    padding: 0 20px;
}
#opis-edit {
    font-family: 'Open Sans', Arial, sans-serif!important;
    font-size: 21px;
    font-weight: 200;
    margin: -1px 0 0 -1px;
    padding: 0;
}
#naziv-edit {
    font-family: inherit!important;
    font-size: 24px;
    font-weight: 700;
    margin: 15px 25px 0 -1px;
    padding: 0;
}
#adresa-edit, #jib-edit {
    margin: 6px 0 2px -1px;
    padding: 0;
    height: 23px;
}
 #grad-edit, #pdv-edit {
    margin-left: -1px;
    padding: 0;
    height: 23px;
}
.item-admin {
    float: right;
    clear: both;
}
#logo-edit, #slika-edit {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#profil-kontakt .list-group-item {
    font-size: large;
}
#profil-kontakt .list-group-item span {
    margin: 0 25px;
}
.btn span {
    margin: 0!important;
}
#profil-head {
    margin-top: 35px;
}
.panel-heading h2 {
    font-size: x-large;
}
.panel-heading button {
    float: right;
}
#ime-edit, #prezime-edit {
    font-family: inherit!important;
    font-size: 24px;
    font-weight: 700;
    margin: 15px 25px 0 -1px;
    padding: 0;
}

ul[id^="typeahead-"] {
    width: 100%;
    overflow-x: hidden;
}

#logo-button {
    display: block;
    margin: 0 auto;
    padding: 0;
    border: 0;
}

#profile-button {
    height: 150px;
    width: 150px;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Kontakt Search page START */

#search-page .container, #search-page .container-fluid {
    .center-block();
}

#droido img {
    width:180px;
}

.text-center {
    text-align: center;
}

#search-page .gi-2x{font-size: 2em;}
#search-page .gi-3x{font-size: 3em;}
#search-page .gi-4x{font-size: 4em;}
#search-page .gi-5x{font-size: 5em;}

#search-page .glyphicon.glyphicon-remove {
    color: red;
}

#rezultat, #uputstvo, #disclaimer, #zero, #cnt-menu, #droido, #legalese, .sniper {
    .center-block();
    margin: 0 auto;
    float: none;
    overflow-y: hidden;
}

#forma-prikaz {
    .center-block();
    margin: 0 auto;
    float: none;
}

#droido, #disclaimer {
    text-align: center;
    margin-top: 25px;
}

#search-page .nav-pills > li > a {
    margin: 0 5px;
    background-color: #DEEEFC;
}

#cogs {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#uputstvo, #legalese, .sniper {
    margin: 25px auto;
}

.overlay {
    background-color: rgba(51, 51, 51, 0.17);
    width: 100%;
    position: absolute;
    z-index: 250;
    height: 100%;
}

#search-page .window {
    border: 2px #FF8500 solid;
}

#rezultat {
    margin-bottom: 20px;
    border: 0;
}

#search-page .buffer {
    margin: 40px 0;
}

#zero, #zero-one {
    text-align: center;
}

#logobox {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin: 66px auto;
    text-align: center;
    max-width: 860px;
}

::selection {
    background: #FF8500;
}

::-moz-selection{
    background: #FF8500;
}

::-webkit-selection {
    background: #FF8500;
}

#search-page span.hl {
    font-weight: bold;
}

#messages {
	color: red;
}

#successful {
	color: green;
}
