{% block title %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Create an account</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form name="{{ form.form_name }}" novalidate ng-controller="RegisterCtrl">
                {% csrf_token %}
                {{ form.as_div }}
                <button type="button" ng-disabled="{{ form.form_name }}.$invalid" class="btn btn-primary" ng-click="submit()">Submit</button>
            </form>
        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; 2016 Kontakt+</p>
    </footer>
</div>
{% endblock %}
