{% extends "base.html" %}

{% block ng %}
    app.config(function($routeProvider){
        $routeProvider.when('/', {
            templateUrl: '/part/search/',
            controller: 'SearchCtrl'
        }).when('/korisnik/novi', {
            templateUrl: '/korisnici/novi/',
            controller: 'RegisterCtrl'
        }).when('/login', {
            controller: 'LoginCtrl',
            templateUrl: '/korisnici/login/'
        }).when('/profil/:osobaId?', {
            templateUrl: '/part/profil/',
            controller: 'ProfilCtrl'
        }).when('/firma/:firmaId', {
            templateUrl: '/part/firma/',
            controller: 'PageCtrl'
        })
        .otherwise('/');
    });
{% endblock %}
{% block content %}
<div ng-view></div>
{% endblock %}
