{% block title %}
{% endblock %}
{% block content %}
<div class="container" ng-controller="ProfilCtrl">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="profil-head" class="kartica thumbnail">
                <div class="btn-group-vertical item-admin" role="group">
                    <!-- <button type="button" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button> -->
                    <button type="button" ng-show="korisnik" ng-click="saveChanges()" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                </div>
                <img ng-hide="editMode" class="slika" ng-src="{- osoba.slika -}" />
                <button ng-show="editMode" type="file" id="profile-button" ngf-select="selectSlika($file, $invalidFiles)" class="btn btn-default" accept="image/*" ngf-max-height="10000" ngf-max-size="1MB"><img id="slika-edit" class="slika" ng-src="{- osoba.slika -}" /></button>
                <h3>
                    <strong ng-hide="editMode">{- osoba.ime -} {- osoba.prezime -}</strong>
                    <input type="text" ng-model="osoba.ime" ng-show="editMode" class="form-control" id="ime-edit">
                    <input type="text" ng-model="osoba.prezime" ng-show="editMode" class="form-control" id="prezime-edit">
                </h3>
                <h4><strong>@{- user.username -}</strong></h5>
                <h4>direktorica izvoza</h4>
                <h4>Klas d.d. Sarajevo</h4>
            </div>
            <div id="profil-kontakt" class="panel panel-default">
                <div class="panel-heading">
                    <!-- @TODO prikazati samo ako je to stvarno taj korisnik -->
                    <h2 class="panel-title" translate="kontakt_podaci">Kontakt podaci <button tooltip-placement="top" ng-show="korisnik" ng-click="noviKontaktEdit = !noviKontaktEdit" tooltip-trigger uib-tooltip="Dodaj novi kontakt" type="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></h2>
                </div>
                <!-- <div class="panel-body">
                    
                </div> -->
                <ul class="list-group">
                    <li class="list-group-item" ng-show="noviKontaktEdit">
                        <div class="form-inline">
                            <div class="form-group">
                                <select type="text" ng-model="kontakt.vrsta" class="form-control">
                                    <option>email</option>
                                    <option>telefon</option>
                                    <option>fax</option>
                                    <option>mobilni</option>
                                </select>
                                <input type="text" ng-model="kontakt.value" class="form-control" id="kontakt-novi">
                                <button type="button" ng-click="saveKontakt()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                                <button type="button" ng-click="resetKontakt()" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> {- user.email -}
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +387 33 727 193
                        <div class="btn-group item-admin" ng-show="editMode" role="group">
                            <button type="button" ng-show="editMode" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-print" aria-hidden="true"></span> +387 33 657 279
                        <div class="btn-group item-admin" ng-show="editMode" role="group">
                            <button type="button" ng-show="editMode" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> +387 61 476 577
                        <div class="btn-group item-admin" ng-show="editMode" role="group">
                            <button type="button" ng-show="editMode" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; 2016 Kontakt+</p>
    </footer>
</div>
{% endblock %}
